<div class="navbar bg-accent">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl text-accent-content">Your Motivational Buddy</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 text-accent-content">
      <li><a>Link</a></li>
      <li>
        <details>
          <summary>
            Parent
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none text-base-content">
            <li><a>Link 1</a></li>
            <li><a>User</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>