<footer class="footer p-10 bg-base-200 text-base-content">
  <aside>
    <figure>
      <img src='assets/media/brand/Your Motivational Buddy.png' width="50" />
    </figure>
    <p>Your Motivational Buddy<br>since 2020</p>
  </aside> 
  <nav>
    <h6 class="footer-title">Services</h6> 
    <a class="link link-hover">Quotes</a>
    <a class="link link-hover">Philosophy</a>
    <a class="link link-hover">Newsletter</a>
    <a class="link link-hover">Podcast</a>
  </nav> 
  <nav>
    <h6 class="footer-title">Support</h6> 
    <a class="link link-hover">About Us</a>
    <a class="link link-hover">Contact Us</a>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy Policy</a>
  </nav> 
  <nav>
    <h6 class="footer-title">Socials</h6> 
    <a class="link link-hover" href="https://www.facebook.com/YourMotivationalBuddy/">Facebook</a>
    <a class="link link-hover" href="https://www.instagram.com/yourmotivationalbuddy/">Instagram</a>
    <a class="link link-hover" href="https://x.com/YMotivBuddy">X</a>
    <a class="link link-hover" href="https://www.tiktok.com/@your_motivational_buddy">Tiktok</a>
  </nav> 
  <!--<app-newsletter-form />-->
</footer>