pre {
    display: block;
    white-space: pre-wrap;
    font-family: sans-serif;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.card {
    max-width: 1000px;
    max-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.92),
                 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    background-color: oklch(var(--s)); //Secondary color
    color: oklch(var(--bc)); // Base-content
  }

  .articleCardPhoto {
    max-width: 1500px;
    height: 100%;
  }

  #latestPosts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }