<p>home works!</p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae est vel magni delectus optio! Blanditiis cumque et aspernatur distinctio reiciendis tenetur laboriosam deleniti ab ipsum nemo, quod, magni repudiandae error.

<br>
<br>

<section id="latestPosts">
  <div *ngFor="let article of articles">

    <div class="card card-side bg-secondary shadow-xxl">
      <figure><img class="articleCardPhoto" src="https://firebasestorage.googleapis.com/v0/b/your-motivational-buddy.appspot.com/o/119464667_112550267258100_212535215097380026_n.jpg?alt=media&token=6f87c59d-cbf7-4d73-894c-0993edcb95bb" alt="Movie"/></figure>
      <div class="card-body">
        <h2 class="card-title">{{ article.title }}</h2>
        <pre>{{ article.content }}</pre>
        <br><br>
        <h3>{{ article.time }}</h3>
        <h3>{{ article.author }}</h3>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">See Post</button>
          <button class="btn btn-primary">Share</button>
        </div>
      </div>
    </div>

  
  <br><br>
</div>


</section>



<div class="divider"></div>

<h1>What's on your mind?</h1>


<div id="NewPost">
  <form>
    <textarea class="textarea textarea-success" 
    placeholder="Title"
    id="Title"
    [formControl]="insertTitle"
    ></textarea>
    <textarea class="textarea textarea-success" 
    placeholder="Content"
    id="Content"
    rows="4" cols="50"
    [formControl]="addContent"
    ></textarea>
    <button (click)="postArticle()" class="btn-primary">POST</button>
  </form>
  
</div>