<p>home works!</p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae est vel magni delectus optio! Blanditiis cumque et aspernatur distinctio reiciendis tenetur laboriosam deleniti ab ipsum nemo, quod, magni repudiandae error.

<br>
<br>

<section>
    <h1>User Profiles</h1>
    <div *ngFor="let article of articles">
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <span>Author: {{ article.author }}</span>
      </div>      
</section>

<button (click)="NewPost.AddData()">Click me</button>