<section id="latestPosts">
    <div *ngFor="let article of articles">
  
      <div class="latest">
        <span>
        <figure><img class="articleCardPhoto" src="https://firebasestorage.googleapis.com/v0/b/your-motivational-buddy.appspot.com/o/119464667_112550267258100_212535215097380026_n.jpg?alt=media&token=6f87c59d-cbf7-4d73-894c-0993edcb95bb" alt="Movie"/></figure>
        <div class="card-body">
          <h2 class="card-title" *ngIf=article.showtitle
              style="margin-top: -10px; 
                 margin-bottom: -10px;">
                  {{ article.title }}
                  </h2>
              <div class="content">
                <pre>{{ article.content }}</pre>
              </div>

              <div class="info">
                <h3 class="theTime">{{ convertTime(article.time) }}</h3>
                <h3 style="font-size: 11pt;">{{ article.author }}</h3>
              </div>

              <div class="card-actions justify-end">
                      <button class="btn btn-primary">See Post</button>
                      <button class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                        </svg>                  
                      </button>
              </div>

          </div>
      </span>
      </div>
        <br>
        <br>
    </div>


</section>